<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Author" content="www.panguweb.cn" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>廊坊鑫昊保温材料有限公司</title>
<link rel="stylesheet" type="text/css" href="css/common_3.css" />
	<link rel="stylesheet" type="text/css" href="css/style_3.css" />
	<link rel="stylesheet" type="text/css" href="css/subpage_3.css" />
	

<script type="text/javascript" src="js/jquery1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.superslide.2.1.1.js"></script>
	<script type="text/javascript" src="js/form.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	
<script type="text/javascript">
function urlredirect() {
	var sUserAgent = navigator.userAgent.toLowerCase();	
	if ((sUserAgent.match(/(ipod|iphone os|midp|ucweb|android|windows ce|windows mobile)/i))) {
		// 只适用盘古建站，PC跳转移动端
		var resultpage = "/index.php?m=Cnm&c=Index&a=index".replace("/index.php","/wap/index.php");
		//console.log(resultpage);
		window.location.href = resultpage;
		
	}
}
urlredirect();
</script><!-- <style>
.theme_color{background-color:#1ec97f;}


</style> -->

</head>
	<!-- 头部 -->
	<script> var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?df13687d75d8e8fb9e9e9bba001418dd"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); </script>
<div class="header">
    <div class="main">
      <div class="logo"><a href="/index.php?m=cn&c=Index&a=index" title="廊坊鑫昊保温材料有限公司"><img src="picture/logo.png" alt="廊坊鑫昊保温材料有限公司" /></a></div>
      <div class="tel"><div class="title">服务热线</div><div class="num">13833660587</div></div>
      <div class="search01">
        <form action="/index.php?m=cn&c=News&a=index" method="post">
        <div class="search05">
            <select class="jj" >
              <option value="/index.php?m=cn&c=News&a=index" >行业资讯</option><option value="/index.php?m=cn&c=Product&a=index" selected>产品展示</option><option value="/index.php?m=cn&c=Case&a=index" >工程案例</option><option value="/index.php?m=cn&c=Newsb&a=index" >全国发货</option>            </select>
          </div>
          <input name="sk" type="text" class="search03" placeholder="搜索关键词" value=''/>
          <input name="" type="submit" class="seabtn" value="" />
          </form>
        </div>
        <script>
          $(function(){
            $('.jslct dl dd').click(function(){
              $(this).closest('form').attr('action',$(this).attr('val'));
            });
          })
        </script>

      </div>
    </div>
</div>
<!--header end-->
<div class="clear"></div>
<!--g_nav-->
<div class="g_nav">
  <div class="g_nav01">
    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
      	<td class="">
          <a href="/index.php?m=cn&c=Index&a=index" title="首页">首页<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=Index&a=index" title="首页">首页        <div></div>
        </a> -->

        	        </td><td class="">
          <a href="/index.php?m=cn&c=About&a=index" title="公司介绍">公司介绍<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=About&a=index" title="公司介绍">公司介绍        <div></div>
        </a> -->

        	        </td><td class="">
          <a href="/index.php?m=cn&c=News&a=index" title="行业资讯">行业资讯<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=News&a=index" title="行业资讯">行业资讯        <div></div>
        </a> -->

        	        </td><td class="now">
          <a href="/index.php?m=cn&c=Product&a=index" title="产品展示">产品展示<div></div></a>
          
<!-- <a class="now"href="/index.php?m=cn&c=Product&a=index" title="产品展示">产品展示        <div></div>
        </a> -->

        	              <div class="nav_tan">
                <a href="/index.php?m=cn&c=Product&a=index&tid=61">玻璃棉板</a><a href="/index.php?m=cn&c=Product&a=index&tid=62">玻璃棉管</a><a href="/index.php?m=cn&c=Product&a=index&tid=63">玻璃棉卷毡</a><a href="/index.php?m=cn&c=Product&a=index&tid=64">岩棉</a><a href="/index.php?m=cn&c=Product&a=index&tid=65">岩棉板</a><a href="/index.php?m=cn&c=Product&a=index&tid=66">岩棉卷毡</a>              </div>        </td><td class="">
          <a href="/index.php?m=cn&c=Case&a=index" title="工程案例">工程案例<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=Product&a=index&tid=61" title="工程案例">工程案例        <div></div>
        </a> -->

        	        </td><td class="">
          <a href="/index.php?m=cn&c=Admission&a=index" title="产品特点">产品特点<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=Product&a=index&tid=61" title="产品特点">产品特点        <div></div>
        </a> -->

        	        </td><td class="">
          <a href="/index.php?m=cn&c=Msg&a=index" title="在线留言">在线留言<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=Product&a=index&tid=61" title="在线留言">在线留言        <div></div>
        </a> -->

        	        </td><td class="">
          <a href="/index.php?m=cn&c=Hr&a=index" title="车间视频">车间视频<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=Product&a=index&tid=61" title="车间视频">车间视频        <div></div>
        </a> -->

        	        </td><td class="">
          <a href="/index.php?m=cn&c=Newsb&a=index" title="全国发货">全国发货<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=Product&a=index&tid=61" title="全国发货">全国发货        <div></div>
        </a> -->

        	        </td><td class="">
          <a href="/index.php?m=cn&c=Contact&a=index" title="联系我们">联系我们<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=Product&a=index&tid=61" title="联系我们">联系我们        <div></div>
        </a> -->

        	        </td>
     <!--            <td 
        class="ihome"
                  
        > <a class=""href="/index.php?m=cn&c=Index&a=index" title="首页">首页        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=About&a=index" title="公司介绍">公司介绍        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=News&a=index" title="行业资讯">行业资讯        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class="now"href="/index.php?m=cn&c=Product&a=index&tid=61" title="产品展示">产品展示        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=Case&a=index" title="工程案例">工程案例        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=Admission&a=index" title="产品特点">产品特点        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=Msg&a=index" title="在线留言">在线留言        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=Hr&a=index" title="车间视频">车间视频        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=Newsb&a=index" title="全国发货">全国发货        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=Contact&a=index" title="联系我们">联系我们        <div></div>
        </a>
                  </td> -->

      </tr>
    </table>
</div>
</div>
<!--g_nav end-->
<div class="clear"></div>

	<!-- 头部 end -->

	<!-- banner -->
    <a href_="/index.php?m=&">
<div class="sub_banner" style=" background:url(images/9ad6b63cc525d92ff3527cc6aad9b092.jpg) no-repeat top center;"></div>
</a><div class="notice">
  <div class="main">  
    <div class="noticefl"><span>廊坊鑫昊保温材料有限公司主要生产经营玻璃棉、岩棉、橡塑、聚氨酯制品、硅酸铝制品、化工产品等各系列保温化工建材产品。</span></div>
  </div>
</div>
<div class="clear"></div>
	<!-- banner -->
	
	<!-- 图标导航 -->
	<div class="product sub_pro">
	<!--left-->
    <div class="product01">
        <div class="product07"><b>产品展示</b></div>
        <!--left nav-->
       		<div class="sidenav">
                <ul>
                                	<li>
                        <a href="/index.php?m=cn&c=Product&a=index&tid=61" title="玻璃棉板" class="sidenava cu">
                        <p> 玻璃棉板</p>
                        </a>
                    </li>                                                                                <li>
                        <a href="/index.php?m=cn&c=Product&a=index&tid=62" title="玻璃棉管" class="sidenava ">
                        <p> 玻璃棉管</p>
                        </a>
                    </li>                                                                                <li>
                        <a href="/index.php?m=cn&c=Product&a=index&tid=63" title="玻璃棉卷毡" class="sidenava ">
                        <p> 玻璃棉卷毡</p>
                        </a>
                    </li>                                                                                <li>
                        <a href="/index.php?m=cn&c=Product&a=index&tid=64" title="岩棉" class="sidenava ">
                        <p> 岩棉</p>
                        </a>
                    </li>                                                                                <li>
                        <a href="/index.php?m=cn&c=Product&a=index&tid=65" title="岩棉板" class="sidenava ">
                        <p> 岩棉板</p>
                        </a>
                    </li>                                                                                <li>
                        <a href="/index.php?m=cn&c=Product&a=index&tid=66" title="岩棉卷毡" class="sidenava ">
                        <p> 岩棉卷毡</p>
                        </a>
                    </li>                                                                                                </ul>
            </div>
           
        <div class="l_contact">
            <p class="product07 lcon_t">联系我们</p>
            <div class="sidenav">
                <div class="lcon_tel">了解更多详细信息，请致电<i>13833660587</i></div>
                <p class="lcon_msg">或给我们留言<a href="/index.php?m=cn&c=Msg&a=index">给我留言</a></p>
            </div>
      </div>
     
</div>
      
      <!--left end-->
      <div class="product02">
      <div class="content_com_title">
						<h2>产品展示</h2>
						<div class="bread">
							当前位置：<a href="/index.php?m=cn&c=Index&a=index">首页</a>-<a href="/index.php?m=cn&c=Product&a=index">产品展示</a>-<a href="/index.php?m=cn&c=Product&a=index&tid=61">玻璃棉板</a>						</div>
					</div>
					<div class="content">
                        <div class="view">
                            <h1 class="view-title">玻璃棉板 (9)</h1>
                            <div class="view-date">
                                <span>发布时间：2017/07/28</span>
                                
                            </div>                    
                             <div class="bshare-custom view-share" ><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到网易微博" class="bshare-neteasemb"></a></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=bcbe1edc-8ba3-4491-a1e6-19c8931d0292&amp;pophcol=2&amp;lang=zh"></script> 
          <script type="text/javascript" charset="utf-8" src="js/bsharec0.js"></script>
                            <center><img src="picture/14c45b86fd0aacf19d3cd956b9422063.jpg" alt="玻璃棉板 (9)" /></center>                            <table>
                                                            </table>
                            <br />
                            <p>　　玻璃棉<br />
　　离心玻璃棉是将处于熔融状态的玻璃用离心喷吹法工艺进行纤维化喷涂热固性树脂制成的丝状材料，再经过热固化深加工处理，可制成具有多种用途的系列产品。离心玻璃棉内部纤维蓬松交错，存在大量微小的孔隙，是典型的多孔性吸声材料，具有良好的吸声特性。离心玻璃棉可以制成墙板、天花板、空间吸声体等，可以大量吸收有阻燃、无毒、耐腐蚀、容重小、导热系数低、化学稳定性强、吸湿率低、憎水性好等诸多优点，是目前公认的性能最优越的保温、隔热、吸音材料，具有十分广泛的用途。用该材料制成的板、毡、管已大量用于建筑、化工、电子、电力、冶金、能源、交通等领域的保温隔热、吸声降噪，效果十分显著。<br />
　　离心玻璃棉板<br />
　　离心玻璃棉板是离心棉经过固化处理后制成的具有一定强度的板材制品，无论在高温或低温环境中均能保持良好的保温隔热性能，主要用于高级建筑的内墙隔间，天花吊顶，铁皮风管或风箱内壁的保温，机房内的吸声降噪，金属天棚的流汗控制等，具有广阔的应用前景。</p>

<p style="text-align: center;"><img alt="" src="picture/20170728075627-891030660.jpg" style="height:375px; width:500px" /></p>

<p style="text-align: center;"><img alt="" src="picture/20170728075640-539886516.jpg" style="height:375px; width:500px" /></p>
                        </div>
                              
                         <div class="page">
                                                        <p><a href="/index.php?m=cn&c=Product&a=view&id=403" class="page">下一条：玻璃棉板 (8)</a></p>                            
                           <!-- <a href="javascript:void(0);" title="返回" class="back" onClick="javascript:history.back(-1);">返回上一页</a>-->
                            <a href="/index.php?m=cn&c=Product&a=index&tid=" title="返回列表" class="back theme_color">返回列表</a>
                            
                        </div>
					</div>
      </div>
      <div class="clear"></div>
</div>



	<!-- 图标导航 end-->
	

<!-- footer -->

<!--footer-->

<div class="t_linkb">
  <div class="main">
    <a href="/index.php?m=cn&c=Index&a=index" title="">首页</a><a href="/index.php?m=cn&c=About&a=index" title="">公司介绍</a><a href="/index.php?m=cn&c=News&a=index" title="">行业资讯</a><a href="/index.php?m=cn&c=Product&a=index" title="">产品展示</a><a href="/index.php?m=cn&c=Case&a=index" title="">工程案例</a><a href="/index.php?m=cn&c=Admission&a=index" title="">产品特点</a><a href="/index.php?m=cn&c=Msg&a=index" title="">在线留言</a><a href="/index.php?m=cn&c=Hr&a=index" title="">车间视频</a><a href="/index.php?m=cn&c=Newsb&a=index" title="">全国发货</a><a href="/index.php?m=cn&c=Contact&a=index" title="">联系我们</a>  </div>
</div>
<div class="footer">
  <div class="main">
    <div class="foottel">咨询热线：13833660587</div>
    <div class="footr"> 
      <div class="footshare">
        <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享网站</a></div>
        <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script> 
      </div>
    </div>
    <div class="clear"></div>
    <div class="fri_link"><span>LINK 友情链接：</span>
      <a href="http://www.baidu.com" title="百度" target="_blank">百度</a>    </div>
  </div>
</div>
<div class="manager_info">
  <div class="main">
    <div class="fl"><span>版权所有：廊坊鑫昊保温材料有限公司</span></div>
    <span class="fr">ICP备案编号：<a href="http://www.miitbeian.gov.cn" title="备案信息">正在备案中</a></span></div>
</div>
<div class="side_nav">
  <ul>
    <li class="sub_QR side_nav_3"> <a href="javascript:;"> <span style="display: none;"><img src="picture/index.php" width="138" height="138" /></span> </a> </li>
    <li class="back_top"> <a href="#" style="width: 60px; left: 0px;" title="返回顶部"> <span>返回顶部</span> </a> </li>
  </ul>
  <div class="c"></div>
</div>

<div style="position:fixed; left:20px; top:150px;z-index:9999999"><img src="picture/333.png" /></div> 


</body>
</html>