<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Author" content="www.panguweb.cn" />
<meta name="keywords" content="廊坊鑫昊保温材料有限公司|玻璃棉|岩棉|橡塑|聚氨酯制品|硅酸铝制品" />
<meta name="description" content="廊坊鑫昊保温材料有限公司主要生产经营玻璃棉、岩棉、橡塑、聚氨酯制品、硅酸铝制品、化工产品等各系列保温化工建材产品。" />
<title>产品展示_廊坊鑫昊保温材料有限公司</title>
<link rel="stylesheet" type="text/css" href="css/common_2.css" />
	<link rel="stylesheet" type="text/css" href="css/style_2.css" />
	<link rel="stylesheet" type="text/css" href="css/subpage_2.css" />
	

<script type="text/javascript" src="js/jquery1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.superslide.2.1.1.js"></script>
	<script type="text/javascript" src="js/form.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	
<script type="text/javascript">
function urlredirect() {
	var sUserAgent = navigator.userAgent.toLowerCase();	
	if ((sUserAgent.match(/(ipod|iphone os|midp|ucweb|android|windows ce|windows mobile)/i))) {
		// 只适用盘古建站，PC跳转移动端
		var resultpage = "/index.php?m=Cnm&c=Index&a=index".replace("/index.php","/wap/index.php");
		//console.log(resultpage);
		window.location.href = resultpage;
		
	}
}
urlredirect();
</script><!-- <style>
.theme_color{background-color:#1ec97f;}


</style> -->
<!--<script>
function adapt(){
var tableWidth = $(".product3 li div").width(); //表格宽度
var img = new Image();
img.src =$('#imgs').attr("src") ;
var imgWidth = img.width; //图片实际宽度
if(imgWidth>tableWidth){
$('#imgs').attr("style","width:100%; height:auto");
}else{
$('#imgs').attr("style","width: 100%");
}alert(imgWidth)
} 
</script>-->

</head>
	<!-- 头部 -->
	<script> var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?df13687d75d8e8fb9e9e9bba001418dd"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); </script>
<div class="header">
    <div class="main">
      <div class="logo"><a href="/index.php?m=cn&c=Index&a=index" title="廊坊鑫昊保温材料有限公司"><img src="picture/logo.png" alt="廊坊鑫昊保温材料有限公司" /></a></div>
      <div class="tel"><div class="title">服务热线</div><div class="num">13833660587</div></div>
      <div class="search01">
        <form action="/index.php?m=cn&c=News&a=index" method="post">
        <div class="search05">
            <select class="jj" >
              <option value="/index.php?m=cn&c=News&a=index" >行业资讯</option><option value="/index.php?m=cn&c=Product&a=index" selected>产品展示</option><option value="/index.php?m=cn&c=Case&a=index" >工程案例</option><option value="/index.php?m=cn&c=Newsb&a=index" >全国发货</option>            </select>
          </div>
          <input name="sk" type="text" class="search03" placeholder="搜索关键词" value=''/>
          <input name="" type="submit" class="seabtn" value="" />
          </form>
        </div>
        <script>
          $(function(){
            $('.jslct dl dd').click(function(){
              $(this).closest('form').attr('action',$(this).attr('val'));
            });
          })
        </script>

      </div>
    </div>
</div>
<!--header end-->
<div class="clear"></div>
<!--g_nav-->
<div class="g_nav">
  <div class="g_nav01">
    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
      	<td class="">
          <a href="/index.php?m=cn&c=Index&a=index" title="首页">首页<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=Index&a=index" title="首页">首页        <div></div>
        </a> -->

        	        </td><td class="">
          <a href="/index.php?m=cn&c=About&a=index" title="公司介绍">公司介绍<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=About&a=index" title="公司介绍">公司介绍        <div></div>
        </a> -->

        	        </td><td class="">
          <a href="/index.php?m=cn&c=News&a=index" title="行业资讯">行业资讯<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=News&a=index" title="行业资讯">行业资讯        <div></div>
        </a> -->

        	        </td><td class="now">
          <a href="/index.php?m=cn&c=Product&a=index" title="产品展示">产品展示<div></div></a>
          
<!-- <a class="now"href="/index.php?m=cn&c=Product&a=index" title="产品展示">产品展示        <div></div>
        </a> -->

        	              <div class="nav_tan">
                <a href="/index.php?m=cn&c=Product&a=index&tid=61">玻璃棉板</a><a href="/index.php?m=cn&c=Product&a=index&tid=62">玻璃棉管</a><a href="/index.php?m=cn&c=Product&a=index&tid=63">玻璃棉卷毡</a><a href="/index.php?m=cn&c=Product&a=index&tid=64">岩棉</a><a href="/index.php?m=cn&c=Product&a=index&tid=65">岩棉板</a><a href="/index.php?m=cn&c=Product&a=index&tid=66">岩棉卷毡</a>              </div>        </td><td class="">
          <a href="/index.php?m=cn&c=Case&a=index" title="工程案例">工程案例<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=Product&a=index&tid=61" title="工程案例">工程案例        <div></div>
        </a> -->

        	        </td><td class="">
          <a href="/index.php?m=cn&c=Admission&a=index" title="产品特点">产品特点<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=Product&a=index&tid=61" title="产品特点">产品特点        <div></div>
        </a> -->

        	        </td><td class="">
          <a href="/index.php?m=cn&c=Msg&a=index" title="在线留言">在线留言<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=Product&a=index&tid=61" title="在线留言">在线留言        <div></div>
        </a> -->

        	        </td><td class="">
          <a href="/index.php?m=cn&c=Hr&a=index" title="车间视频">车间视频<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=Product&a=index&tid=61" title="车间视频">车间视频        <div></div>
        </a> -->

        	        </td><td class="">
          <a href="/index.php?m=cn&c=Newsb&a=index" title="全国发货">全国发货<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=Product&a=index&tid=61" title="全国发货">全国发货        <div></div>
        </a> -->

        	        </td><td class="">
          <a href="/index.php?m=cn&c=Contact&a=index" title="联系我们">联系我们<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=Product&a=index&tid=61" title="联系我们">联系我们        <div></div>
        </a> -->

        	        </td>
     <!--            <td 
        class="ihome"
                  
        > <a class=""href="/index.php?m=cn&c=Index&a=index" title="首页">首页        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=About&a=index" title="公司介绍">公司介绍        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=News&a=index" title="行业资讯">行业资讯        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class="now"href="/index.php?m=cn&c=Product&a=index&tid=61" title="产品展示">产品展示        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=Case&a=index" title="工程案例">工程案例        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=Admission&a=index" title="产品特点">产品特点        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=Msg&a=index" title="在线留言">在线留言        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=Hr&a=index" title="车间视频">车间视频        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=Newsb&a=index" title="全国发货">全国发货        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=Contact&a=index" title="联系我们">联系我们        <div></div>
        </a>
                  </td> -->

      </tr>
    </table>
</div>
</div>
<!--g_nav end-->
<div class="clear"></div>

	<!-- 头部 end -->

	<!-- banner -->
    <a href_="/index.php?m=&">
<div class="sub_banner" style=" background:url(images/9ad6b63cc525d92ff3527cc6aad9b092.jpg) no-repeat top center;"></div>
</a><div class="notice">
  <div class="main">  
    <div class="noticefl"><span>廊坊鑫昊保温材料有限公司主要生产经营玻璃棉、岩棉、橡塑、聚氨酯制品、硅酸铝制品、化工产品等各系列保温化工建材产品。</span></div>
  </div>
</div>
<div class="clear"></div>
	<!-- banner -->
	
	<!-- 图标导航 -->
	<div class="product sub_pro">
	<!--left-->
    <div class="product01">
        <div class="product07"><b>产品展示</b></div>
        <!--left nav-->
       		<div class="sidenav">
                <ul>
                                	<li>
                        <a href="/index.php?m=cn&c=Product&a=index&tid=61" title="玻璃棉板" class="sidenava ">
                        <p> 玻璃棉板</p>
                        </a>
                    </li>                                                                                <li>
                        <a href="/index.php?m=cn&c=Product&a=index&tid=62" title="玻璃棉管" class="sidenava ">
                        <p> 玻璃棉管</p>
                        </a>
                    </li>                                                                                <li>
                        <a href="/index.php?m=cn&c=Product&a=index&tid=63" title="玻璃棉卷毡" class="sidenava ">
                        <p> 玻璃棉卷毡</p>
                        </a>
                    </li>                                                                                <li>
                        <a href="/index.php?m=cn&c=Product&a=index&tid=64" title="岩棉" class="sidenava ">
                        <p> 岩棉</p>
                        </a>
                    </li>                                                                                <li>
                        <a href="/index.php?m=cn&c=Product&a=index&tid=65" title="岩棉板" class="sidenava ">
                        <p> 岩棉板</p>
                        </a>
                    </li>                                                                                <li>
                        <a href="/index.php?m=cn&c=Product&a=index&tid=66" title="岩棉卷毡" class="sidenava ">
                        <p> 岩棉卷毡</p>
                        </a>
                    </li>                                                                                                </ul>
            </div>
           
        <div class="l_contact">
            <p class="product07 lcon_t">联系我们</p>
            <div class="sidenav">
                <div class="lcon_tel">了解更多详细信息，请致电<i>13833660587</i></div>
                <p class="lcon_msg">或给我们留言<a href="/index.php?m=cn&c=Msg&a=index">给我留言</a></p>
            </div>
      </div>
     
</div>
      
      <!--left end-->
      <div class="product02">
      <div class="content_com_title">
						<h2>产品展示</h2>
						<div class="bread">
							当前位置：<a href="/index.php?m=cn&c=Index&a=index">首页</a>-<a href="/index.php?m=cn&c=Product&a=index">产品展示</a>						</div>
					</div>
					<div class="content">
                    
                       <ul class="product3">
               					
                              <div>
                              		 <li>
                                    <div>
                                       <a href="/index.php?m=cn&c=Product&a=view&id=404" title="玻璃棉板 (9)"><img   src="picture/14c45b86fd0aacf19d3cd956b9422063.jpg" alt="玻璃棉板 (9)"/></a>
                                        
                                    </div>
                                    <p><a href="/index.php?m=cn&c=Product&a=view&id=404" title="玻璃棉板 (9)" class="pg-color">玻璃棉板 (9)</a></p>
                                </li><li>
                                    <div>
                                       <a href="/index.php?m=cn&c=Product&a=view&id=403" title="玻璃棉板 (8)"><img   src="picture/dd7708e70233e11f4e62929e295cd7c3.jpg" alt="玻璃棉板 (8)"/></a>
                                        
                                    </div>
                                    <p><a href="/index.php?m=cn&c=Product&a=view&id=403" title="玻璃棉板 (8)" class="pg-color">玻璃棉板 (8)</a></p>
                                </li><li>
                                    <div>
                                       <a href="/index.php?m=cn&c=Product&a=view&id=402" title="玻璃棉板 (7)"><img   src="picture/ed6b76e7de1cb037e7f8eb50472f7c75.jpg" alt="玻璃棉板 (7)"/></a>
                                        
                                    </div>
                                    <p><a href="/index.php?m=cn&c=Product&a=view&id=402" title="玻璃棉板 (7)" class="pg-color">玻璃棉板 (7)</a></p>
                                </li><li>
                                    <div>
                                       <a href="/index.php?m=cn&c=Product&a=view&id=401" title="玻璃棉板 (3)"><img   src="picture/cbab7e376d1c5bd31f2bf1ee5ad08a88.jpg" alt="玻璃棉板 (3)"/></a>
                                        
                                    </div>
                                    <p><a href="/index.php?m=cn&c=Product&a=view&id=401" title="玻璃棉板 (3)" class="pg-color">玻璃棉板 (3)</a></p>
                                </li><li>
                                    <div>
                                       <a href="/index.php?m=cn&c=Product&a=view&id=400" title="玻璃棉板 (5)"><img   src="picture/28076c2d3b7d3b8ed93ffb450c3a838c.jpg" alt="玻璃棉板 (5)"/></a>
                                        
                                    </div>
                                    <p><a href="/index.php?m=cn&c=Product&a=view&id=400" title="玻璃棉板 (5)" class="pg-color">玻璃棉板 (5)</a></p>
                                </li><li>
                                    <div>
                                       <a href="/index.php?m=cn&c=Product&a=view&id=399" title="玻璃棉板 (2)"><img   src="picture/f530c52bc41e0c96db6f5287031169e8.jpg" alt="玻璃棉板 (2)"/></a>
                                        
                                    </div>
                                    <p><a href="/index.php?m=cn&c=Product&a=view&id=399" title="玻璃棉板 (2)" class="pg-color">玻璃棉板 (2)</a></p>
                                </li><li>
                                    <div>
                                       <a href="/index.php?m=cn&c=Product&a=view&id=398" title="玻璃棉板 (4)"><img   src="picture/8be05fbd34552d514a8ca5905122150b.jpg" alt="玻璃棉板 (4)"/></a>
                                        
                                    </div>
                                    <p><a href="/index.php?m=cn&c=Product&a=view&id=398" title="玻璃棉板 (4)" class="pg-color">玻璃棉板 (4)</a></p>
                                </li><li>
                                    <div>
                                       <a href="/index.php?m=cn&c=Product&a=view&id=397" title="玻璃棉板 (1)"><img   src="picture/f3f11294701d1a036b709533efbf8957.jpg" alt="玻璃棉板 (1)"/></a>
                                        
                                    </div>
                                    <p><a href="/index.php?m=cn&c=Product&a=view&id=397" title="玻璃棉板 (1)" class="pg-color">玻璃棉板 (1)</a></p>
                                </li><li>
                                    <div>
                                       <a href="/index.php?m=cn&c=Product&a=view&id=396" title="玻璃棉板 (6)"><img   src="picture/f07489c017ca3e4a999d9a0ac8ba90e4.jpg" alt="玻璃棉板 (6)"/></a>
                                        
                                    </div>
                                    <p><a href="/index.php?m=cn&c=Product&a=view&id=396" title="玻璃棉板 (6)" class="pg-color">玻璃棉板 (6)</a></p>
                                </li>  
                              </div>
                             
                                
                        </ul>
                        <div class='paging'>  <span class="current">1</span><a class="num" href="/index.php?m=cn&c=Product&a=index&p=2">2</a><a class="num" href="/index.php?m=cn&c=Product&a=index&p=3">3</a><a class="num" href="/index.php?m=cn&c=Product&a=index&p=4">4</a><a class="num" href="/index.php?m=cn&c=Product&a=index&p=5">5</a> <a class="next" href="/index.php?m=cn&c=Product&a=index&p=2">下一页</a> </div>					</div>
      </div>
      <div class="clear"></div>
</div>



	<!-- 图标导航 end-->
	

<!-- footer -->

<!--footer-->

<div class="t_linkb">
  <div class="main">
    <a href="/index.php?m=cn&c=Index&a=index" title="">首页</a><a href="/index.php?m=cn&c=About&a=index" title="">公司介绍</a><a href="/index.php?m=cn&c=News&a=index" title="">行业资讯</a><a href="/index.php?m=cn&c=Product&a=index" title="">产品展示</a><a href="/index.php?m=cn&c=Case&a=index" title="">工程案例</a><a href="/index.php?m=cn&c=Admission&a=index" title="">产品特点</a><a href="/index.php?m=cn&c=Msg&a=index" title="">在线留言</a><a href="/index.php?m=cn&c=Hr&a=index" title="">车间视频</a><a href="/index.php?m=cn&c=Newsb&a=index" title="">全国发货</a><a href="/index.php?m=cn&c=Contact&a=index" title="">联系我们</a>  </div>
</div>
<div class="footer">
  <div class="main">
    <div class="foottel">咨询热线：13833660587</div>
    <div class="footr"> 
      <div class="footshare">
        <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享网站</a></div>
        <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script> 
      </div>
    </div>
    <div class="clear"></div>
    <div class="fri_link"><span>LINK 友情链接：</span>
      <a href="http://www.baidu.com" title="百度" target="_blank">百度</a>    </div>
  </div>
</div>
<div class="manager_info">
  <div class="main">
    <div class="fl"><span>版权所有：廊坊鑫昊保温材料有限公司</span></div>
    <span class="fr">ICP备案编号：<a href="http://www.miitbeian.gov.cn" title="备案信息">正在备案中</a></span></div>
</div>
<div class="side_nav">
  <ul>
    <li class="sub_QR side_nav_3"> <a href="javascript:;"> <span style="display: none;"><img src="picture/index.php" width="138" height="138" /></span> </a> </li>
    <li class="back_top"> <a href="#" style="width: 60px; left: 0px;" title="返回顶部"> <span>返回顶部</span> </a> </li>
  </ul>
  <div class="c"></div>
</div>

<div style="position:fixed; left:20px; top:150px;z-index:9999999"><img src="picture/333.png" /></div> 


</body>
</html>