<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Author" content="www.panguweb.cn" />
<meta name="keywords" content="廊坊鑫昊保温材料有限公司|玻璃棉|岩棉|橡塑|聚氨酯制品|硅酸铝制品" />
<meta name="description" content="廊坊鑫昊保温材料有限公司主要生产经营玻璃棉、岩棉、橡塑、聚氨酯制品、硅酸铝制品、化工产品等各系列保温化工建材产品。" />
<title>廊坊鑫昊保温材料有限公司</title>
<link rel="stylesheet" type="text/css" href="css/common.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/subpage.css" />
	

<script type="text/javascript" src="js/jquery1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.superslide.2.1.1.js"></script>
	<script type="text/javascript" src="js/form.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	
<script type="text/javascript">
function urlredirect() {
	var sUserAgent = navigator.userAgent.toLowerCase();	
	if ((sUserAgent.match(/(ipod|iphone os|midp|ucweb|android|windows ce|windows mobile)/i))) {
		// 只适用盘古建站，PC跳转移动端
		var resultpage = "/index.php?m=Cnm&c=Index&a=index".replace("/index.php","/wap/index.php");
		//console.log(resultpage);
		window.location.href = resultpage;
		
	}
}
urlredirect();
</script><!-- <style>
.theme_color{background-color:#1ec97f;}


</style> -->
</head>



<body>
	<!-- 头部 -->
    <script> var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?df13687d75d8e8fb9e9e9bba001418dd"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); </script>
<div class="header">
    <div class="main">
      <div class="logo"><a href="/index.php?m=cn&c=Index&a=index" title="廊坊鑫昊保温材料有限公司"><img src="picture/logo.png" alt="廊坊鑫昊保温材料有限公司" /></a></div>
      <div class="tel"><div class="title">服务热线</div><div class="num">13833660587</div></div>
      <div class="search01">
        <form action="/index.php?m=cn&c=News&a=index" method="post">
        <div class="search05">
            <select class="jj" >
              <option value="/index.php?m=cn&c=News&a=index" >行业资讯</option><option value="/index.php?m=cn&c=Product&a=index" >产品展示</option><option value="/index.php?m=cn&c=Case&a=index" >工程案例</option><option value="/index.php?m=cn&c=Newsb&a=index" >全国发货</option>            </select>
          </div>
          <input name="sk" type="text" class="search03" placeholder="搜索关键词" value=''/>
          <input name="" type="submit" class="seabtn" value="" />
          </form>
        </div>
        <script>
          $(function(){
            $('.jslct dl dd').click(function(){
              $(this).closest('form').attr('action',$(this).attr('val'));
            });
          })
        </script>

      </div>
    </div>
</div>
<!--header end-->
<div class="clear"></div>
<!--g_nav-->
<div class="g_nav">
  <div class="g_nav01">
    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
      	<td class="now">
          <a href="/index.php?m=cn&c=Index&a=index" title="首页">首页<div></div></a>
          
<!-- <a class="now"href="/index.php?m=cn&c=Index&a=index" title="首页">首页        <div></div>
        </a> -->

        	        </td><td class="">
          <a href="/index.php?m=cn&c=About&a=index" title="公司介绍">公司介绍<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=About&a=index" title="公司介绍">公司介绍        <div></div>
        </a> -->

        	        </td><td class="">
          <a href="/index.php?m=cn&c=News&a=index" title="行业资讯">行业资讯<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=News&a=index" title="行业资讯">行业资讯        <div></div>
        </a> -->

        	        </td><td class="">
          <a href="/index.php?m=cn&c=Product&a=index" title="产品展示">产品展示<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=Product&a=index" title="产品展示">产品展示        <div></div>
        </a> -->

        	              <div class="nav_tan">
                <a href="/index.php?m=cn&c=Product&a=index&tid=61">玻璃棉板</a><a href="/index.php?m=cn&c=Product&a=index&tid=62">玻璃棉管</a><a href="/index.php?m=cn&c=Product&a=index&tid=63">玻璃棉卷毡</a><a href="/index.php?m=cn&c=Product&a=index&tid=64">岩棉</a><a href="/index.php?m=cn&c=Product&a=index&tid=65">岩棉板</a><a href="/index.php?m=cn&c=Product&a=index&tid=66">岩棉卷毡</a>              </div>        </td><td class="">
          <a href="/index.php?m=cn&c=Case&a=index" title="工程案例">工程案例<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=Product&a=index&tid=61" title="工程案例">工程案例        <div></div>
        </a> -->

        	        </td><td class="">
          <a href="/index.php?m=cn&c=Admission&a=index" title="产品特点">产品特点<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=Product&a=index&tid=61" title="产品特点">产品特点        <div></div>
        </a> -->

        	        </td><td class="">
          <a href="/index.php?m=cn&c=Msg&a=index" title="在线留言">在线留言<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=Product&a=index&tid=61" title="在线留言">在线留言        <div></div>
        </a> -->

        	        </td><td class="">
          <a href="/index.php?m=cn&c=Hr&a=index" title="车间视频">车间视频<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=Product&a=index&tid=61" title="车间视频">车间视频        <div></div>
        </a> -->

        	        </td><td class="">
          <a href="/index.php?m=cn&c=Newsb&a=index" title="全国发货">全国发货<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=Product&a=index&tid=61" title="全国发货">全国发货        <div></div>
        </a> -->

        	        </td><td class="">
          <a href="/index.php?m=cn&c=Contact&a=index" title="联系我们">联系我们<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=Product&a=index&tid=61" title="联系我们">联系我们        <div></div>
        </a> -->

        	        </td>
     <!--            <td 
        class="ihome"
                  
        > <a class="now"href="/index.php?m=cn&c=Index&a=index" title="首页">首页        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=About&a=index" title="公司介绍">公司介绍        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=News&a=index" title="行业资讯">行业资讯        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=Product&a=index&tid=61" title="产品展示">产品展示        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=Case&a=index" title="工程案例">工程案例        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=Admission&a=index" title="产品特点">产品特点        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=Msg&a=index" title="在线留言">在线留言        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=Hr&a=index" title="车间视频">车间视频        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=Newsb&a=index" title="全国发货">全国发货        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=Contact&a=index" title="联系我们">联系我们        <div></div>
        </a>
                  </td> -->

      </tr>
    </table>
</div>
</div>
<!--g_nav end-->
<div class="clear"></div>

	<!-- 头部 end -->

  <!--banner-->
    <div class="banner">
      <ul class="show">
        <li style="background-image:url(images/e321f37f1cb20ac37ae92ac2a0daa873.jpg)"><a href_=""></a></li><li style="background-image:url(images/ade2d6f1b397a4d6e067f58d578d8ba1.jpg)"><a href_=""></a></li>      </ul>
      <div class="main"><div class="ctrl"></div></div>
      <div class="prev"></div><div class="next"></div>


    </div>
    <script>runImg($('.banner'), true, true, true);</script>
  <div class="clear"></div>

    <!--banner end--> 
<div class="notice">
  <div class="main">  
    <div class="noticefl"><span>廊坊鑫昊保温材料有限公司主要生产经营玻璃棉、岩棉、橡塑、聚氨酯制品、硅酸铝制品、化工产品等各系列保温化工建材产品。</span></div>
  </div>
</div>
<div class="clear"></div>
    <div class="pro_bg" style="background-image:url(images/c3a81b611726c5f72bf8deae200a4580.jpg);background-size:100%">
             <div class="main">
    <div class="pro_b">
        <div class="title_b">产品展示            <!-- <div class="en">PRODUCT</div> -->
        </div>
        <ul class="list">
            <!-- <li style="background-image:url(images/e0e63f6b632c438881ef0f286b9ebd6e.gif);"> -->
            <li>
                <a href="/index.php?m=cn&c=Product&a=index&tid=61" title="玻璃棉板">
                    玻璃棉板                </a>
            </li><!-- <li style="background-image:url(images/e0e63f6b632c438881ef0f286b9ebd6e.gif);"> -->
            <li>
                <a href="/index.php?m=cn&c=Product&a=index&tid=62" title="玻璃棉管">
                    玻璃棉管                </a>
            </li><!-- <li style="background-image:url(images/e0e63f6b632c438881ef0f286b9ebd6e.gif);"> -->
            <li>
                <a href="/index.php?m=cn&c=Product&a=index&tid=63" title="玻璃棉卷毡">
                    玻璃棉卷毡                </a>
            </li><!-- <li style="background-image:url(images/e0e63f6b632c438881ef0f286b9ebd6e.gif);"> -->
            <li>
                <a href="/index.php?m=cn&c=Product&a=index&tid=64" title="岩棉">
                    岩棉                </a>
            </li><!-- <li style="background-image:url(images/e0e63f6b632c438881ef0f286b9ebd6e.gif);"> -->
            <li>
                <a href="/index.php?m=cn&c=Product&a=index&tid=65" title="岩棉板">
                    岩棉板                </a>
            </li><!-- <li style="background-image:url(images/e0e63f6b632c438881ef0f286b9ebd6e.gif);"> -->
            <li>
                <a href="/index.php?m=cn&c=Product&a=index&tid=66" title="岩棉卷毡">
                    岩棉卷毡                </a>
            </li>        </ul>
    </div>
    <div class="pro_imgsbg">
        <div class="itema">
            <a href="/index.php?m=cn&c=Product&a=view&id=404" title="玻璃棉板 (9)" target="_blank">
                <div class="img_b" style="background-image:url(images/e0e63f6b632c438881ef0f286b9ebd6e.gifnews/14C45B86FD0AACF19D3CD956B9422063.jpg);"></div>
                <div class="clear"></div>
                <div class="title">玻璃棉板 (9)</div>
                <!-- <div class="intro">　　玻璃棉
　　离心玻璃棉是将处于熔融状态的玻璃用离心喷吹法工艺进行纤维化喷涂热固性树脂制成的丝状材料，再经过热固化深加工处理，可制成具有多种用途的系列产品。离心玻璃棉内部纤维蓬松交错，存在大量微小的孔隙，是典型的多孔性吸声材料，具有良好的吸声特性。离心玻璃棉可以制成墙板、天花板、空间吸声体等，可以大量吸收有阻燃、无毒、耐腐蚀、容重小、导热系数低、化学稳定性强、吸湿率低、憎水性好等诸多优点，是目前公认的性能最优越的保温、隔热、吸音材料，具有十分广泛的用途。用该材料制成的板、毡、管已大量用于建筑、化工、电子、电力、冶金、能源、交通等领域的保温隔热、吸声降噪，效果十分显著。
　　离心玻璃棉板
　　离心玻璃棉板是离心棉经过固化处理后制成的具有一定强度的板材制品，无论在高温或低温环境中均能保持良好的保温隔热性能，主要用于高级建筑的内墙隔间，天花吊顶，铁皮风管或风箱内壁的保温，机房内的吸声降噪，金属天棚的流汗控制等，具有广阔的应用前景。</div> -->
            </a>
        </div>        <div class="r_b">
            <div class="itemb">
                <a href="/index.php?m=cn&c=Product&a=view&id=403" title="玻璃棉板 (8)">
                    <div class="img_b" style="background-image:url(images/e0e63f6b632c438881ef0f286b9ebd6e.gifnews/DD7708E70233E11F4E62929E295CD7C3.jpg);"></div>
                    <div class="clear"></div>
                    <div class="title">玻璃棉板 (8)</div>
                </a>
            </div><div class="itemb">
                <a href="/index.php?m=cn&c=Product&a=view&id=402" title="玻璃棉板 (7)">
                    <div class="img_b" style="background-image:url(images/e0e63f6b632c438881ef0f286b9ebd6e.gifnews/ED6B76E7DE1CB037E7F8EB50472F7C75.jpg);"></div>
                    <div class="clear"></div>
                    <div class="title">玻璃棉板 (7)</div>
                </a>
            </div><div class="itemb">
                <a href="/index.php?m=cn&c=Product&a=view&id=392" title="玻璃棉管 (5)">
                    <div class="img_b" style="background-image:url(images/e0e63f6b632c438881ef0f286b9ebd6e.gifnews/D9D70669C83415E33AE7E1F7D1E55EB6.jpg);"></div>
                    <div class="clear"></div>
                    <div class="title">玻璃棉管 (5)</div>
                </a>
            </div><div class="itemb">
                <a href="/index.php?m=cn&c=Product&a=view&id=388" title="玻璃棉卷毡 (5)">
                    <div class="img_b" style="background-image:url(images/e0e63f6b632c438881ef0f286b9ebd6e.gifnews/8F86BE23ADAB5F058F6F896464615729.jpg);"></div>
                    <div class="clear"></div>
                    <div class="title">玻璃棉卷毡 (5)</div>
                </a>
            </div>        </div>
</div>
</div>
</div>

<div class="clear"></div><div class="newsb_b" style="background-image:url(images/e0e63f6b632c438881ef0f286b9ebd6e.gifatm/5AFB2F20D1E6F115D8FA881BDE059AAE.jpg);">
        <div class="main">
    <a href="/index.php?m=cn&c=News&a=index"  title="详细进入" class="processmore"></a>
        <ul class="r_b">
            <li>
            <a href="/index.php?m=cn&c=News&a=view&id=363" title="浅析玻璃棉毡保温材料在屋顶上的应用" class="itemb" target="_blank">
               <div class="img_b" style="background-image:url(images/e0e63f6b632c438881ef0f286b9ebd6e.gifnews/D589B74E6052441BD35DD547D48798EC.jpg);"></div>
               <div class="newstxt">
                    <div class="title">浅析玻璃棉毡保温材料在屋顶上的应用</div>
                    <span>2017 07 28</span>

                    <p>屋面的节能措施主要有两点，一是屋面保温层不宜选用密度较大、导热系数较高的保温材料 ...</p>
               </div>
            </a>
            </li><li>
            <a href="/index.php?m=cn&c=News&a=view&id=362" title="岩棉---无土栽培基质中的新宠" class="itemb" target="_blank">
               <div class="img_b" style="background-image:url(images/e0e63f6b632c438881ef0f286b9ebd6e.gifnews/2819A4A59E87DB12C1F7F8DC2EA81351.jpg);"></div>
               <div class="newstxt">
                    <div class="title">岩棉---无土栽培基质中的新宠</div>
                    <span>2017 07 28</span>

                    <p>响叮铛隆重推出农业用岩棉
岩棉是无土栽培中大量使用的基质，主要应用于蔬菜种植和 ...</p>
               </div>
            </a>
            </li><li>
            <a href="/index.php?m=cn&c=News&a=view&id=361" title="岩棉保温系统在造型独特建筑上的应用" class="itemb" target="_blank">
               <div class="img_b" style="background-image:url(images/e0e63f6b632c438881ef0f286b9ebd6e.gifnews/30DFDE13A88BE889F24E9FA26BB5D1B6.jpg);"></div>
               <div class="newstxt">
                    <div class="title">岩棉保温系统在造型独特建筑上的应用</div>
                    <span>2017 07 28</span>

                    <p>选用岩棉保温系统，该系统具有产品工艺成熟，品质控制良好、施工技术完善、防火性能优 ...</p>
               </div>
            </a>
            </li>        </ul>
    </div>
</div>
<div class="clear"></div>
<div class="iabout_bg" style="background-image:url(images/e0e63f6b632c438881ef0f286b9ebd6e.gifatm/D576E6680D7F2789E789C8537C64D2F0.jpg);">
	<div class="main">
    <a href="/index.php?m=cn&c=About&a=index" title="查看全部" class="processmore"></a>
        <div class="iabout_b">　　廊坊鑫昊保温材料有限公司位于廊坊市大城县留各庄工业区，该区地理位置优越，交通便利。廊坊鑫昊保温材料有限公司主要生产经营玻璃棉、岩棉、橡塑、聚氨酯制品、硅酸铝制品、化工产品等各系列保温化工建材产品。
　　廊坊鑫昊保温材料有限公司生产设备先进，坚持"以质量开拓市场，以诚信赢取客户"的原则，为打造高 ...
        </div>
	</div>
</div>
<div class="clear"></div>
<div class="supportbg" style="background-image:url(images/e0e63f6b632c438881ef0f286b9ebd6e.gifatm/1E7ED9893E0432721C09C4A00DC15288.jpg);">
       <div class="main">
       <a href="/index.php?m=cn&c=Admission&a=index"  title="详细进入" class="processmore"></a>
       <p><img src="picture/support.jpg" alt=""></p>
    </div>
</div>
<div class="clear"></div>
<div class="indexban" style="background-image:url(images/e0e63f6b632c438881ef0f286b9ebd6e.gifatm/798B84F3CCA3DD812208E56B352B7402.jpg);">
      
</div>
<div class="clear"></div><div class="icase" style="background-image:url(images/e0e63f6b632c438881ef0f286b9ebd6e.gifatm/43A1AEB4249FD18CEA4EEF32B9F3E9EB.jpg);">
     <div class="main">
     <a class="casemore" href="/index.php?m=cn&c=Case&a=index"></a>
  <div class="mr_frbox"> <img class="mr_frBtnL prev" src="picture/l.png"/>
    <div class="mr_frUl circle_b">
      <ul>
      <li >
                <a class="img" href="/index.php?m=cn&c=Case&a=view&id=412" title="案例展示 (8)" style="background-image:url(images/e0e63f6b632c438881ef0f286b9ebd6e.gifnews/7BDE715CAA0FC648C2FFF96B2255C851.jpg);background-size:100%"></a>
                <div class="icase_t">
                  <h2>案例展示 (8)</h2>
                    <!-- 
                    <span>　　廊坊鑫昊保温材料有限公司生产设备先进，坚持"以质量开拓市场，以诚信赢取客户"的原则，为打造高质量的产品而努力。我们每一件产品都以过硬的品质赢来赞许。经过几年来的发展，廊坊鑫昊保温材料有限公司产品畅销全国各地，获得更多客户好评。</span> -->
                </div>
                
            </li><li >
                <a class="img" href="/index.php?m=cn&c=Case&a=view&id=411" title="案例展示 (7)" style="background-image:url(images/e0e63f6b632c438881ef0f286b9ebd6e.gifnews/648E2E4E68D539D6237D3D9AAB2C9B7C.jpg);background-size:100%"></a>
                <div class="icase_t">
                  <h2>案例展示 (7)</h2>
                    <!-- 
                    <span>　　廊坊鑫昊保温材料有限公司生产设备先进，坚持"以质量开拓市场，以诚信赢取客户"的原则，为打造高质量的产品而努力。我们每一件产品都以过硬的品质赢来赞许。经过几年来的发展，廊坊鑫昊保温材料有限公司产品畅销全国各地，获得更多客户好评。</span> -->
                </div>
                
            </li><li >
                <a class="img" href="/index.php?m=cn&c=Case&a=view&id=410" title="案例展示 (6)" style="background-image:url(images/e0e63f6b632c438881ef0f286b9ebd6e.gifnews/EE784A3727A07D63B6D427872A8A7F5D.jpg);background-size:100%"></a>
                <div class="icase_t">
                  <h2>案例展示 (6)</h2>
                    <!-- 
                    <span>　　廊坊鑫昊保温材料有限公司生产设备先进，坚持"以质量开拓市场，以诚信赢取客户"的原则，为打造高质量的产品而努力。我们每一件产品都以过硬的品质赢来赞许。经过几年来的发展，廊坊鑫昊保温材料有限公司产品畅销全国各地，获得更多客户好评。</span> -->
                </div>
                
            </li><li >
                <a class="img" href="/index.php?m=cn&c=Case&a=view&id=408" title="案例展示 (3)" style="background-image:url(images/e0e63f6b632c438881ef0f286b9ebd6e.gifnews/55ED05C3102B00499CDC0A9B640A91DE.jpg);background-size:100%"></a>
                <div class="icase_t">
                  <h2>案例展示 (3)</h2>
                    <!-- 
                    <span>　　廊坊鑫昊保温材料有限公司生产设备先进，坚持"以质量开拓市场，以诚信赢取客户"的原则，为打造高质量的产品而努力。我们每一件产品都以过硬的品质赢来赞许。经过几年来的发展，廊坊鑫昊保温材料有限公司产品畅销全国各地，获得更多客户好评。</span> -->
                </div>
                
            </li><li >
                <a class="img" href="/index.php?m=cn&c=Case&a=view&id=407" title="案例展示 (5)" style="background-image:url(images/e0e63f6b632c438881ef0f286b9ebd6e.gifnews/1BBD54B09A9D689E2D4AECBB2D9688EA.jpg);background-size:100%"></a>
                <div class="icase_t">
                  <h2>案例展示 (5)</h2>
                    <!-- 
                    <span>　　廊坊鑫昊保温材料有限公司生产设备先进，坚持"以质量开拓市场，以诚信赢取客户"的原则，为打造高质量的产品而努力。我们每一件产品都以过硬的品质赢来赞许。经过几年来的发展，廊坊鑫昊保温材料有限公司产品畅销全国各地，获得更多客户好评。</span> -->
                </div>
                
            </li>
      </ul>
    </div>
    <img class="mr_frBtnR next" src="picture/r.png"/> </div>
    <script type="text/javascript">
        $(".mr_frbox").slide({
            titCell:"",
            mainCell:".mr_frUl ul",
            autoPage:true,
            effect:"leftLoop",
            autoPlay:true,
            vis:4
        });
    </script> 
</div>
</div>
<div class="clear"></div>

<div class="clear"></div>
	<!-- footer -->

<!--footer-->

<div class="t_linkb">
  <div class="main">
    <a href="/index.php?m=cn&c=Index&a=index" title="">首页</a><a href="/index.php?m=cn&c=About&a=index" title="">公司介绍</a><a href="/index.php?m=cn&c=News&a=index" title="">行业资讯</a><a href="/index.php?m=cn&c=Product&a=index" title="">产品展示</a><a href="/index.php?m=cn&c=Case&a=index" title="">工程案例</a><a href="/index.php?m=cn&c=Admission&a=index" title="">产品特点</a><a href="/index.php?m=cn&c=Msg&a=index" title="">在线留言</a><a href="/index.php?m=cn&c=Hr&a=index" title="">车间视频</a><a href="/index.php?m=cn&c=Newsb&a=index" title="">全国发货</a><a href="/index.php?m=cn&c=Contact&a=index" title="">联系我们</a>  </div>
</div>
<div class="footer">
  <div class="main">
    <div class="foottel">咨询热线：13833660587</div>
    <div class="footr"> 
      <div class="footshare">
        <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享网站</a></div>
        <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script> 
      </div>
    </div>
    <div class="clear"></div>
    <div class="fri_link"><span>LINK 友情链接：</span>
      <a href="http://www.baidu.com" title="百度" target="_blank">百度</a>    </div>
  </div>
</div>
<div class="manager_info">
  <div class="main">
    <div class="fl"><span>版权所有：廊坊鑫昊保温材料有限公司</span></div>
    <span class="fr">ICP备案编号：<a href="http://www.miitbeian.gov.cn" title="备案信息">正在备案中</a></span></div>
</div>
<div class="side_nav">
  <ul>
    <li class="sub_QR side_nav_3"> <a href="javascript:;"> <span style="display: none;"><img src="picture/index.php" width="138" height="138" /></span> </a> </li>
    <li class="back_top"> <a href="#" style="width: 60px; left: 0px;" title="返回顶部"> <span>返回顶部</span> </a> </li>
  </ul>
  <div class="c"></div>
</div>

<div style="position:fixed; left:20px; top:150px;z-index:9999999"><img src="picture/333.png" /></div> 

</body>
</html>