<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Author" content="www.panguweb.cn" />
<meta name="keywords" content="廊坊鑫昊保温材料有限公司|玻璃棉|岩棉|橡塑|聚氨酯制品|硅酸铝制品" />
<meta name="description" content="廊坊鑫昊保温材料有限公司主要生产经营玻璃棉、岩棉、橡塑、聚氨酯制品、硅酸铝制品、化工产品等各系列保温化工建材产品。" />
<title>廊坊鑫昊保温材料有限公司</title>
<link rel="stylesheet" type="text/css" href="css/common_4.css" />
	<link rel="stylesheet" type="text/css" href="css/style_4.css" />
	<link rel="stylesheet" type="text/css" href="css/subpage_4.css" />
	

<script type="text/javascript" src="js/jquery1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.superslide.2.1.1.js"></script>
	<script type="text/javascript" src="js/form.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	
<script type="text/javascript">
function urlredirect() {
	var sUserAgent = navigator.userAgent.toLowerCase();	
	if ((sUserAgent.match(/(ipod|iphone os|midp|ucweb|android|windows ce|windows mobile)/i))) {
		// 只适用盘古建站，PC跳转移动端
		var resultpage = "/index.php?m=Cnm&c=Index&a=index".replace("/index.php","/wap/index.php");
		//console.log(resultpage);
		window.location.href = resultpage;
		
	}
}
urlredirect();
</script><!-- <style>
.theme_color{background-color:#1ec97f;}


</style> -->
<script type="text/javascript" src="js/formcheck.js"></script>
	

</head>
	<!-- 头部 -->
	<script> var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?df13687d75d8e8fb9e9e9bba001418dd"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); </script>
<div class="header">
    <div class="main">
      <div class="logo"><a href="/index.php?m=cn&c=Index&a=index" title="廊坊鑫昊保温材料有限公司"><img src="picture/logo.png" alt="廊坊鑫昊保温材料有限公司" /></a></div>
      <div class="tel"><div class="title">服务热线</div><div class="num">13833660587</div></div>
      <div class="search01">
        <form action="/index.php?m=cn&c=News&a=index" method="post">
        <div class="search05">
            <select class="jj" >
              <option value="/index.php?m=cn&c=News&a=index" >行业资讯</option><option value="/index.php?m=cn&c=Product&a=index" >产品展示</option><option value="/index.php?m=cn&c=Case&a=index" >工程案例</option><option value="/index.php?m=cn&c=Newsb&a=index" >全国发货</option>            </select>
          </div>
          <input name="sk" type="text" class="search03" placeholder="搜索关键词" value=''/>
          <input name="" type="submit" class="seabtn" value="" />
          </form>
        </div>
        <script>
          $(function(){
            $('.jslct dl dd').click(function(){
              $(this).closest('form').attr('action',$(this).attr('val'));
            });
          })
        </script>

      </div>
    </div>
</div>
<!--header end-->
<div class="clear"></div>
<!--g_nav-->
<div class="g_nav">
  <div class="g_nav01">
    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
      	<td class="">
          <a href="/index.php?m=cn&c=Index&a=index" title="首页">首页<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=Index&a=index" title="首页">首页        <div></div>
        </a> -->

        	        </td><td class="">
          <a href="/index.php?m=cn&c=About&a=index" title="公司介绍">公司介绍<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=About&a=index" title="公司介绍">公司介绍        <div></div>
        </a> -->

        	        </td><td class="">
          <a href="/index.php?m=cn&c=News&a=index" title="行业资讯">行业资讯<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=News&a=index" title="行业资讯">行业资讯        <div></div>
        </a> -->

        	        </td><td class="">
          <a href="/index.php?m=cn&c=Product&a=index" title="产品展示">产品展示<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=Product&a=index" title="产品展示">产品展示        <div></div>
        </a> -->

        	              <div class="nav_tan">
                <a href="/index.php?m=cn&c=Product&a=index&tid=61">玻璃棉板</a><a href="/index.php?m=cn&c=Product&a=index&tid=62">玻璃棉管</a><a href="/index.php?m=cn&c=Product&a=index&tid=63">玻璃棉卷毡</a><a href="/index.php?m=cn&c=Product&a=index&tid=64">岩棉</a><a href="/index.php?m=cn&c=Product&a=index&tid=65">岩棉板</a><a href="/index.php?m=cn&c=Product&a=index&tid=66">岩棉卷毡</a>              </div>        </td><td class="">
          <a href="/index.php?m=cn&c=Case&a=index" title="工程案例">工程案例<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=Product&a=index&tid=61" title="工程案例">工程案例        <div></div>
        </a> -->

        	        </td><td class="">
          <a href="/index.php?m=cn&c=Admission&a=index" title="产品特点">产品特点<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=Product&a=index&tid=61" title="产品特点">产品特点        <div></div>
        </a> -->

        	        </td><td class="now">
          <a href="/index.php?m=cn&c=Msg&a=index" title="在线留言">在线留言<div></div></a>
          
<!-- <a class="now"href="/index.php?m=cn&c=Product&a=index&tid=61" title="在线留言">在线留言        <div></div>
        </a> -->

        	        </td><td class="">
          <a href="/index.php?m=cn&c=Hr&a=index" title="车间视频">车间视频<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=Product&a=index&tid=61" title="车间视频">车间视频        <div></div>
        </a> -->

        	        </td><td class="">
          <a href="/index.php?m=cn&c=Newsb&a=index" title="全国发货">全国发货<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=Product&a=index&tid=61" title="全国发货">全国发货        <div></div>
        </a> -->

        	        </td><td class="">
          <a href="/index.php?m=cn&c=Contact&a=index" title="联系我们">联系我们<div></div></a>
          
<!-- <a class=""href="/index.php?m=cn&c=Product&a=index&tid=61" title="联系我们">联系我们        <div></div>
        </a> -->

        	        </td>
     <!--            <td 
        class="ihome"
                  
        > <a class=""href="/index.php?m=cn&c=Index&a=index" title="首页">首页        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=About&a=index" title="公司介绍">公司介绍        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=News&a=index" title="行业资讯">行业资讯        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=Product&a=index&tid=61" title="产品展示">产品展示        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=Case&a=index" title="工程案例">工程案例        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=Admission&a=index" title="产品特点">产品特点        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class="now"href="/index.php?m=cn&c=Msg&a=index" title="在线留言">在线留言        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=Hr&a=index" title="车间视频">车间视频        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=Newsb&a=index" title="全国发货">全国发货        <div></div>
        </a>
                  </td>          <td 
                  class=""        
        > <a class=""href="/index.php?m=cn&c=Contact&a=index" title="联系我们">联系我们        <div></div>
        </a>
                  </td> -->

      </tr>
    </table>
</div>
</div>
<!--g_nav end-->
<div class="clear"></div>

	<!-- 头部 end -->

	<!-- banner -->
    <a href_="/index.php?m=&">
<div class="sub_banner" style=" background:url(images/9ad6b63cc525d92ff3527cc6aad9b092.jpg) no-repeat top center;"></div>
</a><div class="notice">
  <div class="main">  
    <div class="noticefl"><span>廊坊鑫昊保温材料有限公司主要生产经营玻璃棉、岩棉、橡塑、聚氨酯制品、硅酸铝制品、化工产品等各系列保温化工建材产品。</span></div>
  </div>
</div>
<div class="clear"></div>
	<!-- banner -->
	
	<!-- 图标导航 -->
	<div class="product sub_pro">
	<!--left-->
      
      <!--left end-->
	<div class="clear"></div>

      <div class="product03">
      	<div class="content_com_title">
			<h2>在线留言</h2>
			<div class="bread">
				当前位置：<a href="/index.php?m=cn&c=Index&a=index">首页</a>&gt;<a href="/index.php?m=&">在线留言</a>
			</div>
		</div>
		
					<div class="content">
                       <!--  <div class="msg_now">
                                <p class="msg_title theme_color">留言/预约</p>
                            </div> -->
                            <form method="post" action="/index.php?m=cn&c=Msg&a=save" name="form1" class="msgForm">
                               
                                <ul class="msg_ul">
                                    <li>
                                        <p>标题<span>*</span></p>
                                        <input name="title" type="text" id="title" class="msg_input"/>
                                        <div class="info"><span class="Validform_checktip"></span></div>
                                        
                                    </li>
                                    <!--
                                    <li>
                                        <p>姓名<span>*</span></p>
                                        <input name="nickname" type="text" id="nickname" class="msg_input"/>
                                        <div class="info"><span class="Validform_checktip"></span></div>
                                        
                                    </li>
                                    <li>
                                        <p>电话<span>*</span></p>
                                        <input name="mobile" type="text" id="mobile" class="msg_input"/>
                                        <div class="info"><span class="Validform_checktip"></span></div>
                                        
                                    </li>
                                    <li>
                                        <p>邮箱<span>*</span></p>
                                        <input name="email" type="text" id="email" class="msg_input"/>
                                        <div class="info"><span class="Validform_checktip"></span></div>
                                        
                                    </li>-->
                                    <li>
                                        <p>姓名<span>*</span></p>
                                        <input name="nickname" type="text" id="nickname" class="msg_input"/>
                                        <div class="info"><span class="Validform_checktip"></span></div>
                                        
                                    </li><li>
                                        <p>手机号码<span>*</span></p>
                                        <input name="mobile" type="text" id="mobile" class="msg_input"/>
                                        <div class="info"><span class="Validform_checktip"></span></div>
                                        
                                    </li><li>
                                        <p>Email<span>*</span></p>
                                        <input name="email" type="text" id="email" class="msg_input"/>
                                        <div class="info"><span class="Validform_checktip"></span></div>
                                        
                                    </li>                                    <li>
                                        <p>留言<span>*</span></p>
                                        <textarea  name="content" id="content"  class="msg_textarea"></textarea>
                                        
                                        <div class="info"><span class="Validform_checktip"></span></div>
                                        
                                    </li>
                                    <li>
                                        <p>验证码<span>*</span></p>
                                        <input name="valid" id="valid" type="text" class="msg_pin valid" maxlength="4"/>
                                        <div class="info"><span class="Validform_checktip"></span></div>
                                        <img src='picture/index_1.php' id="valid_img" />
                                    </li>
                                    <li><p></p>   
                                        <input type="submit" class="msg_submit theme_color" title="提   交" value="提   交"/>
                                    </li>
                            </ul>
                           </form>
                      
                         
					</div>
      </div>
      <div class="clear"></div>
</div>

<script type="text/javascript">




$(function(){
		
	$("#valid_img").attr('title','点击更换验证码');	
	$("#valid_img").click(function(){
		$("#valid_img").attr('src','picture/index_1.php&r=?r='+Math.random());
		$(".valid")[0].validform_valid = "false";
	});			
		
		
	var objForm=$(".msgForm").Validform({
		datatype: {
	            "zh1-6": /^[\u4E00-\u9FA5\uf900-\ufa2d]{1,6}$/
	        },
		tiptype:function(msg,o,cssctl){
			//msg：提示信息;
			//o:{obj:*,type:*,curform:*}, obj指向的是当前验证的表单元素（或表单对象），type指示提示的状态，值为1、2、3、4， 1：正在检测/提交数据，2：通过验证，3：验证失败，4：提示ignore状态, curform为当前form对象;
			//cssctl:内置的提示信息样式控制函数，该函数需传入两个参数：显示提示信息的对象 和 当前提示的状态（既形参o中的type）;
			
			if(!o.obj.is("form")){ //验证表单元素时o.obj为该表单元素，全部验证通过提交表单时o.obj为该表单对象;
				var objtip=o.obj.next().find(".Validform_checktip");
				cssctl(objtip,o.type);
				objtip.text(msg);
				
						
				var infoObj=o.obj.next();
				
				if(o.type==2){
					infoObj.fadeOut(200);
				}else{
					if(infoObj.is(":visible")){return;}
					var left=o.obj.offset().left,
						top=o.obj.offset().top;
					
					switch(o.obj.attr('name'))
					{
					case 'valid':
						infoObj.animate({
							left:395,
							top:0
						}).show().animate({
							top:0	
						},200);
					  break;
					case 'content':
						infoObj.animate({
							left:395,
							top:0
						}).show().animate({
							top:0	
						},200);
					  break;
					default:
						infoObj.animate({
							left:395,
							top:0
						}).show().animate({
							top:0	
						},200);
					}					
					
					
				}
				
			}	
		},
		
		
		dragonfly:true,
		postonce:true,
		showAllError:false
	});
	
	objForm.addRule([{
		ele:"#title",
		datatype:"*1-50",
		nullmsg:"请输入留言标题",
		errormsg:"1-6个字符",
	},
	{
		ele:"#content",
		datatype:"*",
		nullmsg:"请输入留言内容",
	},
	{
		ele:"#nickname",
		datatype:"zh1-6",
		nullmsg:"请输入姓名",
		errormsg:"1-6个汉字",
	},
	{
		ele:"#mobile",
		datatype:"m",
		nullmsg:"请输入手机号码",
		errormsg:"手机号码格式有误",
	},
	{
		ele:"#email",
		datatype:"e",
		nullmsg:"请输入邮箱地址",
		errormsg:"邮箱地址格式有误",
	},
	{
		ele:"#address",
		datatype:"*",
		nullmsg:"请输入详细地址",
	},
	{
		ele:"#qqno",
		datatype:"*",
		nullmsg:"请输QQ号码",
	},
	{
		ele:"#valid",
		datatype:"v",
		ajaxurl:"/index.php?m=cn&c=msg&a=ajaxCheckValid",
		nullmsg:"请填写验证码",
		errormsg:"验证码长度为4位",
	}
	]);

})
</script>



	<!-- 图标导航 end-->
	

<!-- footer -->

<!--footer-->

<div class="t_linkb">
  <div class="main">
    <a href="/index.php?m=cn&c=Index&a=index" title="">首页</a><a href="/index.php?m=cn&c=About&a=index" title="">公司介绍</a><a href="/index.php?m=cn&c=News&a=index" title="">行业资讯</a><a href="/index.php?m=cn&c=Product&a=index" title="">产品展示</a><a href="/index.php?m=cn&c=Case&a=index" title="">工程案例</a><a href="/index.php?m=cn&c=Admission&a=index" title="">产品特点</a><a href="/index.php?m=cn&c=Msg&a=index" title="">在线留言</a><a href="/index.php?m=cn&c=Hr&a=index" title="">车间视频</a><a href="/index.php?m=cn&c=Newsb&a=index" title="">全国发货</a><a href="/index.php?m=cn&c=Contact&a=index" title="">联系我们</a>  </div>
</div>
<div class="footer">
  <div class="main">
    <div class="foottel">咨询热线：13833660587</div>
    <div class="footr"> 
      <div class="footshare">
        <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享网站</a></div>
        <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script> 
      </div>
    </div>
    <div class="clear"></div>
    <div class="fri_link"><span>LINK 友情链接：</span>
      <a href="http://www.baidu.com" title="百度" target="_blank">百度</a>    </div>
  </div>
</div>
<div class="manager_info">
  <div class="main">
    <div class="fl"><span>版权所有：廊坊鑫昊保温材料有限公司</span></div>
    <span class="fr">ICP备案编号：<a href="http://www.miitbeian.gov.cn" title="备案信息">正在备案中</a></span></div>
</div>
<div class="side_nav">
  <ul>
    <li class="sub_QR side_nav_3"> <a href="javascript:;"> <span style="display: none;"><img src="picture/index.php" width="138" height="138" /></span> </a> </li>
    <li class="back_top"> <a href="#" style="width: 60px; left: 0px;" title="返回顶部"> <span>返回顶部</span> </a> </li>
  </ul>
  <div class="c"></div>
</div>

<div style="position:fixed; left:20px; top:150px;z-index:9999999"><img src="picture/333.png" /></div> 


</body>
</html>